<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{title}}</title>
    <style type="text/css">
        * {
            font-size: 1em;
            line-height: 1.5em;
            font-weight: lighter;
            word-wrap: break-word;
            max-width: 100%;
        }
        body {
            background-color: #F8F8F8;
        }
        h1 {
            font-size: 1.5em;
        }
        h2 {
            font-size: 1.4em;
        }
        h3 {
            font-size: 1.3em;
        }
        h4 {
            font-size: 1.2em;
        }
        h5 {
            font-size: 1.1em;
        }
        pre {
            white-space: pre-wrap;
        }
        a {
            color: #20C6EF;
        }
        img, audio, video {
            width: 100%;
        }
        ul, li {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    </style>
    <script src="file:///android_asset/jquery-3.5.1.min.js"></script>
    <script src="file:///android_asset/jquery.lazyload.min.js"></script>
    <script>
        $(function () {
            $("img.lazy").lazyload({
                placeholder: "file:///android_res/drawable/loading.png"
            });
        });
    </script>
</head>
<body>
<h1>{{title}}</h1>

<div>{{body}}</div>
</body>
</html>